body {
    background-color: lightblue;
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    color: white;
  }
  h2 {
    color: lightslategray;
  }

 /* Style pour le lecteur audio  */
.audio-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

 /* Style pour les boutons de contrôle 
.control-buttons button {
  border: none;
  background-color: lightgray;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
} */